@import "../shared/styles/variables.scss";
@import "../shared/styles/mixins.scss";

.Panel {
   border-radius: 0 0 10px 10px;
   display: flex;
   flex-wrap: wrap;

   button {
      border: 0;
      background: transparent;

      cursor: pointer;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 91px;
      height: 91px;
   }

   .btn-default {
      span {
         color: #7c99d6;
         background:  #fff;
         width: 28px;
         height: 28px;
         margin: 31px;
         line-height: 2;
         border-radius: 50%;
         box-shadow: 0px 0px 15px 0px rgba(60, 108, 222, 0.25);
      }

      &:hover
         span {
            color: #fff;
            margin: 0;
            padding: 31px;
            border-radius: 0;
            background: linear-gradient(270deg, $blue-darker 0%, $blue-lighter 100%);
            width: 100%;
            height: 100%;
            font-size: 18px;
            line-height: 1.5;
         }
   }

   .btn-active {
      border-radius: 0 0 20px 0;
      background: linear-gradient(270deg, $blue-darker 0%, $blue-lighter 100%);

      span { 
         font-size: 18px;
         color: #fff;
      }
   }
}

@import "bottom-panel.scss";