.App {
  max-width: 365px;
  min-height: 619px;
  border-radius: 10px;
  background-color: #edf3ff;
  box-shadow: 0px 0px 65px 0px rgba(60, 108, 222, 0.25); }

.App header {
  background: #fff;
  height: 149px;
  box-shadow: 0px 0px 65px 0px rgba(60, 108, 222, 0.25);
  padding: 16px;
  border-radius: 10px 10px 0 0; }

.App-bar-icons {
  margin: 0;
  padding: 0;
  list-style: none; }

.App-bar-icons li {
  margin-left: 7px;
  border-radius: 50%;
  background: #d9e3f8;
  width: 8px;
  height: 8px;
  display: inline-block; }

.App-history {
  color: #d9e3f8;
  font-size: 14px;
  line-height: 30px; }

.App-result {
  color: #7c99d6;
  font-size: 72px;
  line-height: 30px; }

.App-panel {
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-wrap: wrap; }

.App-panel button {
  color: #7c99d6;
  font-size: 14px;
  line-height: 30px;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 91px; }

.App-panel button span {
  width: 28px;
  height: 28px;
  margin: 31px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(60, 108, 222, 0.25); }

.App-panel button.active span, .App-panel button:hover span {
  color: #fff;
  border-radius: 0 0 20px 0;
  background: linear-gradient(270deg, #6d99ff 0%, #3c6cde 100%);
  width: 100%;
  height: 100%;
  padding: 31px;
  margin: 0;
  font-size: 18px; }

.App-panel button.active:hover span {
  border-radius: 0 0 20px 0; }

.App-panel button:hover span {
  border-radius: 0; }
