@import "../shared/styles/mixins.scss";

.App header {
   background: #fff;
   height: 149px;
   box-shadow: 0px 0px 65px 0px rgba(60, 108, 222, 0.25);
   padding: 12px 16px 32px;
   border-radius: 10px 10px 0 0;
   position: relative;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.App-bar-icons {
   @include reset-ul();

   li {
      margin-left: 7px;
      border-radius: 50%;
      background:  #d9e3f8;
      width: 8px;
      height: 8px;
      display: inline-block;
   }
}

.App-results-container {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin: 0 18px;
}

.App-history {
   color:  #d9e3f8;
   font-size: 14px;
}

.App-result {
   color: transparent;
   font-size: 72px;
   line-height: 1;
   margin-bottom: -8px;
   background: linear-gradient(270deg, #3c6cde 0%, #6d99ff 100%);
   background-clip: text;
}