@import "../shared/styles/mixins.scss";

.App-panel {
   border-radius: 0 0 10px 10px;
   
   ul {
      @include reset-ul();

      display: flex;
      flex-wrap: wrap;
   }

   li {
      color: #7c99d6;
      font-size: 14px;
      
      line-height: 30px;
      border-radius: 50%;
      background:  #ffffff;
      box-shadow: 0px 0px 15px 0px rgba(60, 108, 222, 0.25);
      width: 28px;
      height: 28px;
      margin: 31px;

      display: flex;
      justify-content: center;
      align-items: center;

      &.highlight {
         color: #fff;
         border-radius: 0;
         border-bottom-right-radius: 20px;
         background: linear-gradient(270deg, #6d99ff 0%, #3c6cde 100%);
         font-size: 18px;
         width: 91px;
         height: 91px;
         margin: 0;
      }
   }
}